@import "tailwindcss";

@font-face {
  font-family: lausanne-light;
  src: url("/fonts/Lausanne-300.woff2");
}

@font-face {
  font-family: lausanne-regular;
  src: url("/fonts/Lausanne-500.woff2");
}

body {
  @apply overflow-x-hidden
}

h1 {
  @apply font-[lausanne-light]
}

.nav-move {
  animation-name: marqueeAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}