@import "tailwindcss";

@font-face {
  font-family: lausanne-light;
  src: url("/fonts/Lausanne-300.woff2");
}

@font-face {
  font-family: lausanne-regular;
  src: url("/fonts/Lausanne-500.woff2");
}

body {
  @apply overflow-x-hidden
}

*::selection {
  background: #d3fd50;
  color: black;
}

h1 {
  @apply font-[lausanne-light]
}

.nav-move {
  animation-name: marqueeAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes marqueeAnimation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.nav-move {
  display: flex;
  animation: marqueeAnimation 8s linear infinite;
}

.nav-move-right {
  display: flex;
  animation: marqueeAnimationTwo 8s linear infinite;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeAnimationTwo {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}